.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.dashboard-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
}

.dashboard-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}