.login-sesion {
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.login-sesion-nombre {
    color: var(--color-neutro-300);
}

.login-sesion-logout {
    background-color: var(--color-neutro-300);
    padding: 3px 10px;
    border-radius: 20px;
    color: var(--color-neutro-100);
    cursor: pointer;
}

.login-sesion-logout:hover {
    filter: brightness(0.9);
}

.hero .contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

.hero .contenedor-logo {
    display: flex;
    align-items:center;
}

.hero .logo {
    height: 20px;
    width: 20px;
    background-color: var(--color-neutro-100);
    mask-image: url('../assets/logo.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    justify-self: center;
}

.hero .logo-texto {
    color: var(--color-neutro-100);
}

.hero .izq {
    max-width: 43%;
}

.hero h1 {
    color: var(--color-acento-500);
}

.hero .descripcion {
    padding-top: 20px;
    color: var(--color-neutro-100);
}

.hero img {
    height: 200px;
}
